/*
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  min-height: 100vh;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.big-container {
  max-width: 1490px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353e;
  position: relative;
  text-transform: uppercase;
}

.title::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 45px;
  top: 17px;
  background-color: #00b2a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: skew(-30deg);
  margin-left: 10px;
}

.gallery-image-small {
  display: none;
}

/* start header */
.header {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.menu {
  margin: 0 auto;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 35px;
}

.menu__link {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 3px 5px 3px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #ffffff;
  transition: all 0.3s;
}

.menu__link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  letter-spacing: 0.6px;
  color: #0d302c;
  margin-top: 180px;
}

.header__subtitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  margin-bottom: auto;
}

.header__scroll-down {
  margin-top: 280px;
  padding-bottom: 90px;
}

/* end header */

/* start about */

.about {
  padding: 150px 0;
}

.about__title {
  text-align: center;
}

.about__inner {
  margin-top: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  max-width: 520px;
}

.about__text {
  margin-top: 30px;
}

/* end about */

/*start sentence*/
.sentence {
  background-color: #f8f8f8;
  padding: 150px 0 120px;
}

.sentence__title {
  text-align: center;
  margin-bottom: 100px;
}

.sentence__items {
  display: flex;
  justify-content: space-between;
}

.sentence__item {
  position: relative;
  width: 365px;
}

.sentence__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 90px;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sentence__item--residence::before {
  background-image: url("../images/icons/sun_icon.svg");
}

.sentence__item--flight::before {
  background-image: url("../images/icons/airplane_icon.svg");
}

.sentence__item--education::before {
  background-image: url("../images/icons/athlete_icon.svg");
}

.sentence__item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 150px;
  margin-bottom: 30px;
}

.sentence__item-text {
  padding-bottom: 110px;
}

.sentence__inner {
  display: flex;
}

.sentence__info {
  width: 320px;
  margin-top: 10px;
  margin-right: 250px;
  flex: none;
}

.sentence__info-item {
  background-image: url("../images/progress_line.png");
  background-repeat: repeat-x;
  background-position: top center;
  position: relative;
  padding: 20px 0 20px;
}

.sentence__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
  z-index: 2;
  padding-left: 10px;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 400;
}

.sentence__info-item span::before {
  content: "";
  position: absolute;
  height: 20px;
  background-color: #f8f8f8;
  right: -7px;
  top: 3px;
  width: 100%;
  z-index: -1;
}

.sentence__text {
  margin-bottom: 30px;
}

/*end sentence*/

/*start conquer*/
.conquer {
  background-image: url("../images/conquer_bg.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.conquer__inner {
  max-width: 520px;
  margin-right: auto;
  padding: 150px 0;
}

.conquer__title {
  margin-bottom: 100px;
}

.conquer__text {
  margin-bottom: 30px;
}

/*end conquer*/

/*start gallery*/
.gallery {
  padding: 150px 0;
}

.gallery__title {
  margin-bottom: 200px;
  text-align: center;
}

.gallery__filter-btn {
  margin-bottom: 50px;
}

.gallery__btn + .gallery__btn {
  margin-left: 20px;
}

.gallery__btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.mixitup-control-active {
  color: #00b2a0;
}

.gallery__content {
  column-count: 2;
  column-gap: 10px;
  margin-bottom: 70px;
}

.gallery__item {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  margin-right: 25px;
}

.gallery__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(51, 51, 51, 0.7);
  opacity: 0;
  transition: all 0.3s;
}

.gallery__item:hover .gallery__item-link {
  opacity: 1;
}

.gallery__item img {
  width: 100%;
}

.gallery__add-content {
  text-align: center;
  margin-bottom: 200px;
}

.gallery__add {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  padding: 23px 90px;
  border: 1px solid #c4c4c4;
}

.blockquote__content {
  background-color: #f8f8f8;
  padding: 80px 0;
  text-align: center;
  margin-bottom: 200px;
}

.blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  color: #242121;
  display: block;
  max-width: 680px;
  margin: 0 auto;
}

.blockquote__author {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-align: right;
}

.gallery__video {
  background-image: url("../images/gallery/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__numbers {
  display: flex;
  justify-content: center;
  color: #242121;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery__numbers-item {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353e;
  margin-bottom: 5px;
  margin-right: 100px;
}

.gallery__numbers-item span {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: block;
}

/* end gallery */

/* start slider-blog */
.slider-blog__title {
  margin-bottom: 229px;
  text-align: center;
}

.slider-blog__content {
  background-image: url("../images/slider-blog_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 200px;
}

.slider-blog__item {
  letter-spacing: 0.6px;
  color: #ffffff;
}

.slider-blog__item-title {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  max-width: 600px;
  color: #ffffff;
  margin-left: auto;
  margin-top: 315px;
  margin-bottom: 20px;
}

.slider-blog__item-descr {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  max-width: 600px;
  margin-left: auto;
  margin-bottom: 270px;
}

ul.slick-dots {
  display: flex;
  padding-bottom: 77px;
  justify-content: center;
}

.slick-dots li + li {
  margin-left: 15px;
}

.slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.slick-active button {
  background-color: #00b2a0;
}

/* end slider-blog */

/* start team */
.team {
  margin-bottom: 200px;
}

.team__title {
  margin-bottom: 215px;
  text-align: center;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  padding: 25px 0 5px;
}

.team__position {
  font-size: 14px;
  line-height: 18px;
}

/* end team */

/* start pricing */
.pricing {
  background-color: #f8f8f8;
  padding: 200px 0;
}

.pricing__title {
  text-align: center;
  margin-bottom: 200px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

ul.pricing__item {
  background-color: #fff;
  padding: 45px 40px;
  width: 360px;
  text-align: left;
}

.pricing__item li {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  margin-bottom: 20px;
}

.pricing__item .pricing__item-name {
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
  text-align: center;
  margin-bottom: 55px;
}

.pricing__item .pricing__item-summa {
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
  text-align: center;
  margin-top: 60px;
  position: relative;
}

.pricing__item-summa sup {
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: 10px;
  padding-left: 5px;
}

/* end pricing */

/* start map */
.map {
  padding: 200px 0;
  margin: 0 auto;
}

.map__item img {
  object-fit: cover;
}

/* end map */

/* start connection */
.connection {
  margin-bottom: 20px;
}

.connection__title {
  text-align: center;
  margin-bottom: 240px;
}

.connection__inner {
  display: flex;
  justify-content: space-between;
}

.form {
  max-width: 570px;
  width: 100%;
  margin-right: 30px;
}

.form input,
.form textarea {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #373a39;
  padding: 16px 10px;
  margin-bottom: 16px;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #00b2a0;
}

.form textarea {
  min-height: 150px;
  resize: none;
  margin-bottom: 70px;
}

.form textarea::placeholder {
  max-width: 260px;
  padding-top: 30px;
}

.form button {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  padding: 24px 110px;
  cursor: pointer;
}

.connection__info {
  background-color: #f8f8f8;
  max-width: 600px;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #242121;
  padding: 50px 10px 50px 50px;
  margin-bottom: 200px;
}

.connection__info-title {
  margin-bottom: 65px;
}

.connection__info-links {
  width: 273px;
  margin-bottom: 65px;
}

.connection__info-links a {
  color: #242121;
  transition: all 0.3s;
}

address p {
  font-style: normal;
}

.connection__social {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.connection__social a {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #242121;
  transition: all 0.3s;
}

.connection__social a + a {
  margin-left: 10px;
}

.connection__info-links a:hover,
.connection__social a:hover {
  color: #00b2a0;
}

.footer {
  background-color: #00b2a0;
}

.footer__inner {
  padding: 70px 0;
}

.footer__inner img {
  margin: 0 auto;
  display: block;
}
/* end connection */
